<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="packagesToScan">
			<array>
				<value>com.batuhanaslan.insuranceagent.anadolubankbootcamp.model</value>
			</array>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.PostgresPlusDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<constructor-arg name="url" value="jdbc:postgresql://localhost:5432/postgres"/>
		<constructor-arg name="username" value="postgres"/>
		<constructor-arg name="password" value="mysecretpassword"/>
	</bean>



	<bean id="policyRepository" class="com.batuhanaslan.insuranceagent.anadolubankbootcamp.repository.PolicyRepository">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="agentRepository" class="com.batuhanaslan.insuranceagent.anadolubankbootcamp.repository.AgentRepository">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>


	<bean id="customerRepository" class="com.batuhanaslan.insuranceagent.anadolubankbootcamp.repository.CustomerRepository">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="policyService" class="com.batuhanaslan.insuranceagent.anadolubankbootcamp.service.PolicyService">
		<property name="policyRepository" ref="policyRepository"/>
	</bean>

	<bean id="agentService" class="com.batuhanaslan.insuranceagent.anadolubankbootcamp.service.AgentService">
		<property name="agentRepository" ref="agentRepository"/>
	</bean>

	<bean id="customerService" class="com.batuhanaslan.insuranceagent.anadolubankbootcamp.service.CustomerService">
		<property name="customerRepository" ref="customerRepository"/>
	</bean>





</beans>





